<div class="container">
    <div class="header d-flex justify-content-between align-items-center mb-3">
        <h4>Job Details</h4>
        <button [routerLink]="['']" class="btn btn-dark">Go to Listing</button>
    </div>
    <p *ngIf="!job">No data available!</p>

    <div *ngIf="job" class="form w-50 border my-3 p-3">
        <div class="row d-flex align-items-center mb-3">
            <div class="col-4">Job Title</div>
            <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="job.job_title">
            </div>
        </div>
        <div class="row d-flex align-items-center mb-3">
            <div class="col-4">Company's Name</div>
            <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="job.company_name">
            </div>
        </div>
        <div class="row d-flex align-items-center mb-3">
            <div class="col-4">Application Starts On</div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="YYYY-MM-DD" [(ngModel)]="job.application_starts_on">
            </div>
        </div>
        <div class="row d-flex align-items-center mb-3">
            <div class="col-4">Application Ends On</div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="YYYY-MM-DD" [(ngModel)]="job.application_ends_on">
            </div>
        </div>
        <div class="row d-flex align-items-center mb-3">
            <div class="col-4">Package Offered (LPA)</div>
            <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="job.package_offered">
            </div>
        </div>
        <div class="row d-flex align-items-center mb-3">
            <div class="col-4">Is Referral System Available?</div>
            <div class="col-8">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="job.is_referral_system_available"> Yes
            </div>
        </div>
        <div class="row d-flex align-items-center mb-3">
            <div class="col-4">Referee Details (if available)</div>
            <div class="col-8">
                <textarea class="form-control" aria-label="With textarea" [(ngModel)]="job.referee_details"></textarea>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-3">
            <div class="col-4">Status</div>
            <div class="col-8">
                <input type="text" class="form-control" [(ngModel)]="job.status">
            </div>
        </div>
        
        <div class="d-flex justify-content-between align-items-center">
            <button class="btn border-dark" (click)="update()">Update Job</button>
            <button class="btn border-dark" (click)="delete()">Delete Job</button>
        </div>
        
    </div>
</div>